body {
background-color: Thistle;
border: 2px solid Gray;
border-radius: 16px
font-family: sans-serif;
margin-left: auto;
margin-right: auto;
max-width: 1024px;
min-width: 256px;
padding-top: 8px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px
}
html {
background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
background-size: 8px 8px;
}
h1 {
background-color: #E5D59C
}
nav ul {
list-style-type: circle;
background-color: #6D4C1E;
border: 5px dashed #5B5BFF;
border-radius: 10px;
font-family: cursive;
font-weight: bold;
padding: 5px;
}
nav ul li {
display: inline;
border-right: 2px solid #111111;
padding-right: 10px;
padding-left: 10px;
}
nav ul li:last-child {
border-right: none;
}
nav ul li a {
text-decoration: none;
color: #5B5BFF;
}
